body {
  background-color: rgb(39, 10, 38);
}

.login-box {
  background-color:rgb(230, 170, 170);
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  margin: auto;
 
  
}



h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 1px 1px black;
}

.login-box input {
  display: block;
  width: 95%;
  margin-top: 10px;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 20px;
  background:white);
  border-radius: 10px;
}
.login-box textarea{
  margin-top: 10px;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 20px;
  background:white);
  border-radius: 10px;
  width: 95%;
}


.submit-button {
  background: rgba(63, 82, 255, 0.986) !important;
  color: white;
  width: 100% !important;
}
.submit-button:hover{
  background-color: rgb(250, 122, 2) !important;
}
.register span {
  color: red;
  font-size: 20px;
  text-transform: capitalize;
}

.register p{
  font-size: 20px;
  text-transform: capitalize;
}
.check input{
 